html, body {
    height: 100%;
    width: 100%;
    min-width: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}




p {
    margin: 0 !important;
}



/* Estilos para el modal tipo dropdown */
.user-dropdown {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
}

.user-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-dropdown ul li {
    border-bottom: 1px solid #eee;
}

.user-dropdown ul li:last-child {
    border-bottom: none;
}

.user-dropdown ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.user-dropdown ul li a:hover {
    background-color: #f4f4f4;
    color: #000;
}

/* Mostrar el dropdown */
.user-dropdown.show {
    display: block;
}



.parent-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #f3f2f2;
}

.parent-container-viewEmployeeData .btn-light {
    background-color: #ece5e5e1 ;

}

.disable-viewEmployeeData input,
.disable-viewEmployeeData select,
.disable-viewEmployeeData textarea {
    pointer-events: all !important;
}



.btn-container-employeeData  input,
.btn-container-employeeData  select,
.btn-container-employeeData  textarea,
.modal-content input,
.modal-content select,
.modal-content textarea,
.modal-content .card-body {
    pointer-events: none !important;
    background-color: #f3f2f2e1 !important;
}

.parent-container-viewEmployeeData .card-body {
    background-color: #f3f2f2e1 !important;

}


.modal-body {
    background-color: #f3f2f2e1 !important;
}

.modal-body .data-container,
.modal-body .data-container-sub,
.modal-body input,
.modal-body select,
.modal-body textarea,
.modal-body input,
.modal-body select,
.modal-body textarea  {
    pointer-events: all !important;
    margin-bottom: 5px;
}

.modal-body input,
.modal-body select,
.modal-body textarea {
    background-color: #ffffff !important;

}

.custom-modal-width {
    width: fit-content !important; 
    padding-right: 20px !important;
}

.card-img-top {
    padding: 2%;
    border-radius: 50px !important;
}

.modal-dialog {
    margin: 1.75rem auto !important;
    max-width: 800px !important;
}




.parent-container .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
}


footer {
    text-align: center;
    background-color: #1c2331;
    color: white;
}

.parent-container-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 130px 1fr 1fr;
    grid-template-areas: "general_info general_info general_info general_info"
                         "time  time task task"
                         "time-graph time-graph task-graph task-graph";
    gap:50px;
    margin: 10%;
    margin-top: 50px;
    margin-bottom: 50px;   
}

.parent-container-home-employee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 130px 1fr;
    grid-template-areas: "general_info general_info general_info general_info"
                         "time-graph time-graph task task";
    gap:50px;
    margin: 10%;
    margin-top: 50px;
    margin-bottom: 50px;   
}

.parent-container-home-employee .container-employee-time-graph {
    min-width: 400px;
    max-width: 500px;
    height: fit-content;
}


.parent-container .container-employee-time-graph {
    min-width: 400px;
    max-width: none;
    height: fit-content;
}

/* Estilo para el botón deshabilitado */
.btnEmployee:disabled {
    background-color: #cccaca !important; 
    cursor: not-allowed; 
    border-color: #cccccc !important; 
}

.btnEmployee{
    width: 80px;
}


.container-employee-time,
.container-employee-time-graph,
.container-employee-task,
.container-employee-task-graph,
.container-employee-data {
    background-color: #f0f0f0; 
    border: 1px solid #ccc;    
    padding: 20px;             
    border-radius: 5px;   
    height: 500px;     
    overflow: auto;
    user-select: none;
    min-width: 400px;

}

.container-employee-task-graph,
.container-employee-time-graph {
    overflow:hidden;
}

.parent-container-general-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "container1 container2 container3 container4";
    grid-area: general_info;
    height: fit-content;
}


.container1 {
    grid-area: container1;
}

.container2 {
    grid-area: container2;
}

.container3 {
    grid-area: container3;
}

.general-info {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 5px;   
    margin: 10px;
    height: 150px;
    min-width: 150px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:'logo'
                         'info' ;
    font-size: 1.2em;
    text-align: center;

}




.container-logo {
    display: flex;
    grid-area: logo;
    align-items: center;
    margin-left: 10px;
    font-size: 2em;
}

.container-info {
    display: flex;
    flex-direction: column;
    grid-area: info;
    justify-content: center;
    align-items: center;  
    margin-bottom: 20px;
}

.container-employee-time:hover,
.container-employee-time-graph:hover,
.container-employee-task:hover,
.container-employee-task-graph:hover,
.general-info:hover {
    background-color: rgba(245, 239, 239, 0.95)

}







.container-employee-time {
    display: grid !important;
    grid-area: time !important; 
}

.container-employee-time-graph { 
    display: grid !important;
    grid-area: time-graph !important;
}




.container-employee-task {
    display: grid !important;
    grid-area: task !important;
}

.container-employee-task-graph {
    display: grid !important;
    grid-area: task-graph !important;
}

.navbar-user {
    background-color: #f0f0f0;
    width: 45px;
    height: 45px;
    display: flex ;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}


.tables-row:hover {
    background-color: rgb(181, 178, 178)
}


.readonly-container-planilla {
    background-color: #c3c6cd65;
    border-radius: 10px;
    padding: 10px;
}

.container-employee-data {
    display: flex   ;
    align-items: center;
    width: 95%;
    height: fit-content;
    padding: 10px;
    margin-top: 40px;
    padding-right: 0;
    padding-bottom: 0;
    overflow: auto;
}


.tables {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
    max-height: 470px;
}
table {
    display: block;
    overflow: auto;
    width: 100%;
    height: 100%;
    table-layout: auto;
    table-layout: fixed;
    font-size: 1rem;
    max-height: 470px !important;
} 


table td {
    overflow: hidden; 
    width: 33%;
}


.tables::-webkit-scrollbar,
table::-webkit-scrollbar{
    width: 9px;
    height: 6px; 
    background-color: #f0f0f0; 
 }

.tables::-webkit-scrollbar-thumb,
table::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #d7cfcf;
}
.tables::-webkit-scrollbar-thumb:active,
table::-webkit-scrollbar-thumb:active {
    background-color: #cec9c9; 
}



.scrollContainer {
    height: 100%;
    margin-bottom: 35px;
    padding: 5px;
    overflow: auto;
    padding-right: 0;
    padding-bottom: 0;
}

.parent-container-viewEmployee {
    height: 100%;
    width: 92%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

/* 
*
*estilos de task manager
*
*/

.parent-container-task {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-areas: 'sidebar content2';
    width: 100%;
    height: 100%;
}

.sidebar-container-task {
    grid-area: sidebar;
    background-color: #1c2331;
}

.content-container-task {
    grid-area: content2;
    background-color: aqua;
}




/*
*
* diseno de la pagina employeeData
*
*/

.parent-container-viewEmployeeData {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: auto auto 0.5fr;
    width: 98%;
    height: 100%;
    grid-template-areas: 
                        'main-data graph-data'
                        'main-data graph-data'
                        'task-data task-data';
}





.parent-container-viewEmployeeData .row {
    margin: 0;
}

.profile-picture-container {
    margin-right: 5px;
    height: fit-content;
}

.profile-picture-container .card {
    margin-right: 5px;
    border-radius: 5px;
    width: 100%;
}

.profile-picture-container .card-body  {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.profile-picture-container {
    margin-right: 12px;
    width: 90%;

}
.profile-data-container {
    width: 80%;
}

hr {
    height: 10px;
    width: 100%;
}

.employee-profile-container {
    display: flex;
    margin: 10px;
    width: 100%;
}

.profile-planilla-container {
    display: block;
}

.submain-data input,
.submain-data select {
    width: 13ch ;
    min-width: 140px;
    max-width: 300px;
    height: fit-content;
    border: none;
    box-shadow: none;
    background-color: white;
    pointer-events: all;
    margin-left: 6px;
    appearance: none; /* Para navegadores compatibles */
    -webkit-appearance: none; /* Para Chrome y Safari */
    -moz-appearance: none;
}



 .data-container,
.data-container-sub {
    display: flex;
    align-items: center;
}



.employee-profile-container input:focus,
.employee-profile-container select:focus {
    box-shadow: none;
    border: none;
}


.finder-container-EmployeeData {
    margin: 10px;
    padding: 2px;
}

.main-data {
    grid-area: main-data !important;

}


.task-data {
    grid-area: task-data;
    background-color: aquamarine;
}



.task-container-data,
.time-container-data,
.main-data,
.task-data    {
    margin: 10px;
    padding: 3px;

}

.title {
    padding-top: 6px !important;
    min-width: 100px !important;
    width: fit-content  !important;
}


.direction-container {
    display: flex;
}

.direction-container .direction-2 {
    width: 350px;
}



/*
*
* diseno de la grafica
*
*/

.graph-data {
    display: flex;
    flex-direction: column;
    grid-area: graph-data !important;
    margin-top: 15%;
    width: 100%;
}

.task-container-data,
.time-container-data {
    width: 98%;
}

.graph-data .container-employee-task-graph,
.graph-data .container-employee-time-graph {
    height: fit-content;  
    width: 100%;
}

.graph2-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.graph1-container {
    width: 100%;
    max-width: 400px;
    height: 100%;
}

#myChart {
    width: 100% !important;
    height: 100% !important;
}



/*
*
* diseno del search bar
*
*/

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #45bcc7;
    padding-right: 40px;
    color:#000000;
}
.input-search::placeholder{
    color:rgba(18, 18, 18, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none !important;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#000000 ;
    background-color:transparent;
    pointer-events: painted;  
}
    .btn-search:focus-within ~ .input-search,
    .input-search:not(:placeholder-shown) {
    width: 650px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid rgba(144, 140, 140, 0.511);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.input-search:focus {
    width: 650px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 2px solid rgba(231, 229, 229, 0.607);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus + #results{
    display: block;
}

.search-box:focus-within #results {
    display: block;
}



#results {
    position: absolute;
    display: none;
    width: calc(100% + 10px);
    height: fit-content;
    max-height: 300px;
    border-radius: 5px;
    padding: 12px;
    background-color: #e1e7e8f7;
    z-index: 1002;
    cursor: pointer;
}

#results .listResult:hover {
    background-color: #aec5cae2;
    border-radius: 5px;
}

#results .listResult {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid  #aad0d7ac;
    padding-left: 5px ;
}

#results p  {
    display: flex;
    width: 250px;
    overflow: hidden;
    white-space: nowrap; 
    margin-right: 50px !important;
}


.submain-data {
    min-width: 400px;
}



/*
*
*diseno de la iamgen
*
*/

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    object-fit: cover; /* Hace que la imagen ocupe todo el espacio del contenedor */
}




/*
*
*
*diseno de la tabla en news
*
*/

.news-parent-container {
    padding: 20px;
    width: 100%;
    min-width: 300px;
}


.news-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.news-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.news-title-container {
    display: flex;
    background-color: #45bcc7;
}
.news-heart-container {
    background-color: #08ff1d;
}

.news-content-container {
    width: 100%;
    background-color: #bf5454;
}

.news-title {
    flex: 3;
}
.news-heart-container {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding-right: 4%;
}

.btn-heart {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 5px;
    background-color: #cccccc66 !important;
    border-style: none !important;
}
.btn-heart:hover:not(:disabled) {
    background-color: #ccccccb4 !important;
}

.btn-heart.disabled {
    background-color: #9b9a9a !important;
}



/*
*
*
*change password :D
*
*/
.change-password-container {
    width: 70%;
}

.change-password {
    min-width: 100%;
}

.change-password-btn-container,
.change-password-title-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}


@media ( width < 992px ) {
     .big-logo {
        display: none;
    }
    
    .parent-container-task {
        grid-template-rows: 120px 1fr;
        grid-template-areas: 'sidebar sidebar'
                             'content2  content2';
    }

    .employee-profile-container {
        display: block !important;
    }

    .profile-picture-container .card {
        width: 100%;
    }

}





@media ( width <= 1300px ) {



    .parent-container-home {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 170px 1fr 1fr 1fr;
        grid-template-areas: "general_info general_info general_info general_info"
                             "time  time time time"
                             "task task  task task"
                             "time-graph time-graph task-graph task-graph";    
    }

    .parent-container-home-employee {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 170px 1fr 1fr;
        grid-template-areas: "general_info general_info general_info"
                             "time-graph  time-graph time-graph"
                             "task task task";
 
    }
    .parent-container-viewEmployeeData {
        grid-template-columns: 1fr;
        grid-template-areas: 
                            'main-data '
                            'graph-data'
                            'task-data ';
    }

    .graph-data {
        margin-top: 6%;
    }
}


@media ( width <= 1010px) {
    .parent-container-home {
        grid-template-columns: 1fr;
        grid-template-rows: auto 0.5fr 0.5fr 1fr 1fr;
        grid-template-areas: "general_info"
                             "time"
                             "task"
                             "time-graph"
                             "task-graph";     
    }

    .general-info {
        height: 200px;
    }

}

@media ( width >= 992px ) {
    .small-logo {
       display: none;
   }
}

